{% extends 'base.html' %}{% load static %}

{% block content %}
    <div class="container">
        <h3 class="my-5 display-4 text-center">Full Stack Developer</h3>
        <a href="https://www.indeed.com/career-advice/finding-a-job/full-stack-developer-definition" class="mb-3 d-block">inspire by indeed.com</a>
    <div class="about-text">
        <p class="">A full stack developer is a programmer who works within software development and is knowledgeable in both the front-end and back-end of an application</p>
        <p class="">They're also well-versed in databases, server configuration, user interface and more.</p>
        <p class="">It's important to note that as a full-stack developer, you're not required to know everything, but having an overall understanding of what's going on in the front-end and back-end is key.</p>

        <h2 class="my-3">Soft skills</h2>
        <ul>
            <li><strong>Problem solving</strong></li>
            <li><strong>Patience</strong>:</li>
            <li><strong>Creativity</strong></li>
            <li><strong>Attention to detail</strong></li>
        </ul>
        <h2 class="mt-5 mb-3">Hard skills</h2>
        <ul class="">
            <li><strong>Git</strong></li>
            <li><strong>Databases and web storage</strong></li>
            <li><strong>JavaScript</strong></li>
            <li><strong>Other back end languages</strong></li>
            <li><strong>HTML/CSS</strong></li>
            <li><strong>HTTP and REST</strong></li>
            <li><strong>Web architecture</strong></li>
        </ul>
    </div>
    </div>
{% endblock content %}