{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atom | {% if page_name %}{{ page_name }}{% else %} name {% endif %}</title>
    <link rel="shortcut icon" href="{% static 'blog_app/img/favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'blog_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog_app/css/index.css' %}">
</head>
<body>
    {% include 'blog_app/parts/_navbar.html' %}

    <div class="container">
        <div class="row mt-3">
            <div class="col-md-4">
                {% include 'blog_app/parts/_sidebar.html' %}
            </div>
            <div class="col-md-8">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>

    {% include 'blog_app/parts/_footer.html' %}

    <script src="{% static 'blog_app/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'blog_app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'blog_app/js/index.js' %}"></script>
</body>
</html>